<footer class="main-footer">
    <div class="main-footer__wrapper">
        <h2>#il maestro <br>del gelato</h2>
        <div class="main-footer__img">
            <img src="img/master-1.png" class="">
            <img src="img/master-2.png" class="none">
            <img src="img/master-3.png" class="none">
            <img src="img/master-4.png" class="none">
            <img src="img/master-5.png" class="none">
        </div>
        <img src="img/logo.svg" class="main-footer__logo">
        <a href="#">DISCOVER OUR LAB</a>
    </div>
</footer>
<script src="js/script.js"></script>