<section class="video">
    <h2 class="visually-hidden">Video</h2>
    <div class="video__wrapper">
        <video loop="" muted="" autoplay="" playsinline="" src="video/video.mp4"> </video>
        <img src="img/logo.svg" class="video__logo">
    </div>
</section>

<section class="ice">
    <h2 class="visually-hidden">Ice-Cream</h2>
    <div class="ice__wrapper">
        <h2 class="ice__title">CONOCÉ <br>NUESTROS <br><span>PRODUCTOS</span></h2>
        <div class="ice__container">
            <div class="ice__inner-container">
                <h4>ICE CREAM</h4>
                <div class="swiper ice__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-1.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-3.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-4.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-5.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-6.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-7.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-8.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-9.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-10.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-11.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-12.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="ice__inner-container ice__inner-container--bottom">
                <h4>ICEPOPS</h4>
                <div class="swiper ice__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-1.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-2.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-3.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-4.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-6.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-7.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-8.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-9.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-10.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-11.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="img/ic-2-12.png">
                                <div class="ice__info">
                                    <h5>PISTACCHIO</h5>
                                    <p>Un sabor de autor elaborado con unos de los ingredientes más preciosos de la cocina siciliana. Una combinación de los más selectos pistacchios de Bronte y Sicilia.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <a href="#" class="ice__more">Ver todos</a>
    </div>
</section>