<header class="main-header">
    <div class="mian-header__wrapper">
        <h2>#ilmaestrodelgelato</h2>
        <button class="main-header__lang"><span>EN<span></button>
        <button class="main-header__button">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>