include modules/mixins.pug

include modules/header.pug
include modules/main-header.pug

<main class="main">
	include modules/main-index.pug
</main>

include modules/main-footer.pug
include modules/popups.pug
include modules/footer.pug